.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    line-height: 64px;
    background-color: #4096ff;
    padding: 0 1rem;
}

.container {
    display: flex;
    align-items: center;
    max-width: 28rem;
}

.logo {
    min-width: 6vh;
}

.text {
    color: #fff;
    margin-left: 2rem;
}