.page {
    width: 1005px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}

.cardWrapper {
    display: flex;
    padding: 5px;
}

.empty {
    margin-top: 20%;
}

.alert {
    margin: 250px 50px;
}