html,
body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    color: #fff;
    background-color: #0958d9;
    padding: 10px;
}

.footer {
    text-align: center;
    color: #fff;
    background-color: #4096ff;
}

.layout {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}