html,
body {
    margin: 0;
    padding: 0;
}

.content {
    background-color: #0958d9;
    overflow-y: scroll;
}

.footer {
    text-align: center;
    color: #fff;
    background-color: #4096ff;
}

.layout {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}